  TWITTER_CONSUMER_KEY=...
  TWITTER_CONSUMER_SECRET=...
  TWITTER_ACCESS_TOKEN_KEY=...-...
  TWITTER_ACCESS_TOKEN_SECRET=...
  timeout_ms:           60*1000,  // optional HTTP request timeout to apply to all requests.
  strictSSL:            true,     // optional - requires SSL certificates to be valid.  